.cardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.moreBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  background-color: var(--elements-bg);
  color: var(--sub-title-text);
  border: 1px solid var(--light-accent);
}

.moreBtn:hover {
  background-color: var(--light-accent);
}
