.appHeader {
  background-color: var(--elements-bg);
}

.headerContainer {
  display: flex;
  gap: 450px;
  padding-top: 0;
}

.logoLink {
  display: inline-block;
  color: var(--sub-title-text);
  font-weight: 900;
  font-size: 20px;
  line-height: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-top: auto;
  margin-bottom: auto;
}

.logoLink span {
  color: var(--text);
}
