.navList {
  display: flex;
  gap: 32px;
}

.navLink {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: black;
  font-weight: 500;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
}

.active {
  color: var(--btn-bg);
}

.navLink:hover,
.navLink:focus {
  transform: scale(1.1);
  outline: none;
}
