/* card layout */
.card .titlePriceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .title,
.card .price {
  margin-bottom: 0;
}

/*layout on details page*/
.details.infoCard {
  padding: 24px;
  border-radius: 16px;
  background-color: var(--elements-bg);
}

.details .metaRow {
  margin-bottom: 16px;
}

.details .price {
  margin-bottom: 24px;
}

/* styles for both pages */
.title,
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--sub-title-text);
}

.metaRow {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
  color: var(--sub-title-text);
}

.starIcon {
  fill: var(--active-star);
}

.review {
  margin-left: 4px;
  margin-right: 16px;
}

.location {
  margin-left: 4px;
}

/*truncate text on card*/
.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}
